In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
wine = pd.read_csv('redwinequality.csv')
vino = pd.DataFrame()

In [13]:
print('amount of wines per quality\n',wine.value_counts('quality'))
print('amount of wines in data set\n', wine.describe())
print(wine.iloc[1])

amount of wines per quality
 quality
5    681
6    638
7    199
4     53
8     18
3     10
dtype: int64
amount of wines in data set
        fixed acidity  volatile acidity  citric acid  residual sugar  \
count    1599.000000       1599.000000  1599.000000     1599.000000
mean        8.319637          0.527821     0.270976        2.538806
std         1.741096          0.179060     0.194801        1.409928
min         4.600000          0.120000     0.000000        0.900000
25%         7.100000          0.390000     0.090000        1.900000
50%         7.900000          0.520000     0.260000        2.200000
75%         9.200000          0.640000     0.420000        2.600000
max        15.900000          1.580000     1.000000       15.500000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  1599.000000          1599.000000           1599.000000  1599.000000
mean      0.087467            15.874922             46.467792     0.996747
std       0.047065            10.460157             32.895324     0.001887
min       0.012000             1.000000              6.000000     0.990070
25%       0.070000             7.000000             22.000000     0.995600
50%       0.079000            14.000000             38.000000     0.996750
75%       0.090000            21.000000             62.000000     0.997835
max       0.611000            72.000000            289.000000     1.003690

                pH    sulphates      alcohol      quality
count  1599.000000  1599.000000  1599.000000  1599.000000
mean      3.311113     0.658149    10.422983     5.636023
std       0.154386     0.169507     1.065668     0.807569
min       2.740000     0.330000     8.400000     3.000000
25%       3.210000     0.550000     9.500000     5.000000
50%       3.310000     0.620000    10.200000     6.000000
75%       3.400000     0.730000    11.100000     6.000000
max       4.010000     2.000000    14.900000     8.000000
fixed acidity            7.8000
volatile acidity         0.8800
citric acid              0.0000
residual sugar           2.6000
chlorides                0.0980
free sulfur dioxide     25.0000
total sulfur dioxide    67.0000
density                  0.9968
pH                       3.2000
sulphates                0.6800
alcohol                  9.8000
quality                  5.0000
Name: 1, dtype: float64

In [28]:
vino.iloc[:, 10]

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [16]:
vino['fixed acidity']= (wine['fixed acidity']-wine['fixed acidity'].mean())/wine['fixed acidity'].std()
vino['volatile acidity']= (wine['volatile acidity']-wine['volatile acidity'].mean())/wine['volatile acidity'].std()
vino['citric acid']= (wine['citric acid']-wine['citric acid'].mean())/wine['citric acid'].std()
vino['residual sugar']= (wine['residual sugar']-wine['residual sugar'].mean())/wine['residual sugar'].std()
vino['chlorides']= (wine['chlorides']-wine['chlorides'].mean())/wine['chlorides'].std()
vino['free sulfur dioxide']= (wine['free sulfur dioxide']-wine['free sulfur dioxide'].mean())/wine['fixed acidity'].std()
vino['total sulfur dioxide']= (wine['total sulfur dioxide']-wine['total sulfur dioxide'].mean())/wine['total sulfur dioxide'].std()
vino['total sulfur dioxide']= (wine['fixed acidity']-wine['fixed acidity'].mean())/wine['fixed acidity'].std()
vino['density']= (wine['density']-wine['density'].mean())/wine['density'].std()
vino['sulphates']= (wine['sulphates']-wine['sulphates'].mean())/wine['sulphates'].std()
vino['alcohol']= (wine['alcohol']-wine['alcohol'].mean())/wine['alcohol'].std()
vino['quality']= wine['quality']

In [33]:
random = vino.sample(1599, replace = False)
training_set = random.iloc[0:1065, :]
test_set = random.iloc[1065:, :]
x_train = training_set.iloc[:, 0:10].values
y_train = training_set.iloc[:, 10].values
y_train = np.reshape(y_train, (len(y_train), 1))
x_test = test_set.iloc[:, 0:10].values
y_test = test_set.iloc[:, 10].values
y_test = np.reshape(y_test, (len(y_test), 1))
x_train_trans = np.transpose(x_train)
x_train_Aug = np.vstack((np.ones((1,len(x_train))),x_train_trans))
x_test_trans = np.transpose(x_test)
x_test_Aug = np.vstack((np.ones((1,len(x_test))),x_test_trans))
theta = np.zeros((11,1))

In [60]:
no_of_iter = np.arange(1,100001)
alpha = 0.003
m_train = len(x_train)
m_test = len(x_test)

costfunc = []

#Iteration loop
for i in no_of_iter:
    z = np.transpose(theta)@x_train_Aug #Hypothesis function
    #print('z',z)
    cf = (1/(2*m_train))*(np.sum((np.transpose(z)-y_train)**2)) #Cost function
    #print('cf',cf)
    costfunc.append(cf) #Appending cost function
    #print('costfunc',costfunc)
    delthetaj = (1/m_train)*((x_train_Aug)@(np.transpose(z)-y_train)) #Derivative of cost function
    #print('delthetaj',delthetaj)
    theta = theta - (alpha*delthetaj) #Updating theta values
    #print('theta',theta)

In [61]:
theta

array([[ 5.64769235e+00],
       [ 4.81839674e-02],
       [-1.97422337e-01],
       [-3.28578251e-02],
       [-1.27801717e-02],
       [-8.66219740e-02],
       [ 1.28657055e-03],
       [ 4.81839674e-02],
       [-6.11036397e-02],
       [ 2.03842773e-01],
       [ 2.75894646e-01]])

In [66]:
h_theta = np.transpose(theta)@x_train_Aug
y_train_pred = np.transpose(h_theta)

#plt.scatter(y_train, y_train_pred, color='r')
#plt.plot([y_train.min(), y_train.max()], [y_train_pred.min(), y_train_pred.max()], color = 'black', lw=2)
#plt.xlabel("Y_train")
#plt.ylabel("Y_train_pred")
#plt.title("Predictions vs. actual values in the training set")

In [64]:
wine.sample(1)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
91,8.6,0.49,0.28,1.9,0.11,20.0,136.0,0.9972,2.93,1.95,9.9,6

In [65]:
u1 = float(input("User Input One: "))
u2 = float(input("User Input Two: "))
u3 = float(input("User Input Three: "))
u4 = float(input("User Input 4: "))
u5 = float(input("User Input 5: "))
u6 = float(input("User Input 6: "))
u7 = float(input("User Input 7: "))
u8 = float(input("User Input 8: "))
u9 = float(input("User Input 9: "))
u10 = float(input("User Input 10: "))
u11 = float(input("User Input 11: "))
output= theta[0]*u1 + theta[1]*u2 + theta[2]*u3 + theta[3]*u4 + theta[4]*u5 + theta[5]*u6 + theta[6]*u7 + theta[7]*u8 + theta[8]*u9 + theta[9]*u10+ + theta[10]*u11
print(output)

User Input One: 8.6
User Input Two: 0.49
User Input Three: .28
User Input 4: 1.9
User Input 5: .11
User Input 6: 20
User Input 7: 136
User Input 8: .9972
User Input 9: 2.93
User Input 10: 1.95
User Input 11: 9.9
[49.91505031]